Makefile
run.tcl
*.bgn
*.bit
*.xwbt
*.bld
*.cmd_log
*.drc
*.gise
*.lso
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.csv
*.txt
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.xml
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.log
_ngo
*.lst
xlnx_auto_0_xdb
_xmsgs
*.xmsgs
xst
*.bin
*.htm
*.html
*.sh
iseconfig
*.tcl
*.psr
*planA*